@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/*//// mini-reset ////*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
}
body {
  color: #4c4e4d;
  font-family: 'Roboto Mono', monospace;
  /* background-color: #ffd1dc; */
}
.border{
  border:1px solid red;
}
.border2{
  border:2px dotted blue;
}
.wireframe {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.maxWidth_1024 {
  max-width: 1024px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 0;
  height: 100vh;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcol{
  display: flex;
  flex-direction: column;
}